@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-gray-50 dark:bg-slate-800 dark:text-slate-100
  }

:root{
    --first:black;
    --second:white;
    --blue:#40c4ff;
    --littles_text:#061e37;
}

*::before, *::after{
    box-sizing: border-box;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

main {
    width: 100%;
    min-height: 74.6vh;
  }
  .title h1 {
    font-size: 3rem;
  }
  
  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #footer > div > a{
    color: inherit;
    text-decoration: inherit;
  }


.img-m {height: 1.5rem;width: 1.5rem}
.img-xl {height: 2rem;width: 2rem}
.img-xl {height: 2rem;width: 2rem}
.img-3xl {height: 3.5rem;width: 3.5rem;}